<div class="row mb-5">
    <h1 class="text-center">About Flight App</h1>
    <div class="col-md-12 bg-light border p-4 bg-light rounded">
        <p class="text-left">Flight App is a project used for the Full-Stack Web Dev Certificate.</p>
        <p class="text-left">
            TypeScript and Python top RedMonk's recent rankings of programming languages, based on data from GitHub
            and Stack Overflow.
        </p>
        <p class="text-left">
            One thing that can help you with your coding career is knowing which programming languages are the most
            popular--though they may or may not be the right ones for you to know. In fact, it may help you position
            yourself better as an expert if you know one that isn't popular; or, you may just want to know how to
            code in the popular ones to expose yourself to the most jobs.
        </p>
        <p class="text-left">
            RedMonk analyzes GitHub and Stack Overflow to figure out what the popular programming languages are.
            Here are five notable programming languages.
        </p>
        <p class="text-left">
            SEE: Implementing DevOps: A guide for IT pros (free PDF) (TechRepublic)
        </p>
        <div class="text-left">
            <ul>

                <li>
                    Microsoft-maintained TypeScript. Starting in June, it became the first new language to enter the
                    top 10 and stay there for more than a quarter since 2014. TypeScript works well with the
                    existing JavaScript codebase with the potential to make safer code.</li>
                <li>
                    Python. It's always been in the top five, but in the last year it has risen toward the top. It's
                    generally considered versatile and easy to use.
                </li>
                <li>
                    R. It rose two slots to the 13th most popular on RedMonk's list, and you probably haven't heard
                    of it--unless you operate on data. RedMonk calls it "an example of the power of an
                    academia-supported community to elevate a language beyond its expected threshold."</li>
                <li>
                    Dart. Or should we say Flutter? Because the Dart language took off along with the popularity of
                    the Flutter UI toolkit that went 1.0 a year ago.
                </li>
                <li>
                    Kotlin. This language is popular with Android developers and seems to be holding onto that
                    popularity in the face of competition from other languages used to run software on the Java
                    Virtual Machine, like Clojure, Scala, and even Groovy.
                    It's not what you know, it's… well, with programming, it really is largely what you know and
                    hopefully this list will help you understand a few more of the options.
                </li>
            </ul>
        </div>
    </div>
</div>