<div class="container">
    <div class="row mb-5">
        <h1 class="text-center">Welcome to Flight App</h1>
        <div class="col-lg-12 bg-light border p-4 bg-light rounded">
            <p class="text-left">
                The Flight App is a small app created in Angular.
            </p>
            <span class="m-4">
            <a routerLink="/flights">
            <img width='40%' src="assets/images/table-shown.png" alt="flight app image"/>
            </a>
            </span>
            <span class="m-4">
            <a routerLink="/add">
            <img width='50%' src="assets/images/add-flight.png" alt="add flight app image"/></a>
            </span>
        </div>
    </div>
</div>